.app {
  position: relative;
}

.background-layer {
  position: fixed;
  inset: 0;
  z-index: 0;

  background-image: url('./assets/CircuitLinesLoop.png');
  background-repeat: repeat;
  background-size: 1000px 1000px;
}

.ui-overlay {
  position: absolute;
  z-index: 1;
  inset: 0;
}

.navbar {
  position: fixed;
  margin-left: 20px;
  margin-top: 40px;
  width: 16%;
  height: calc(100vh - 80px);
  background:
    linear-gradient(
      135deg,
      rgba(218, 234, 238, 0.877),
      rgba(75, 159, 204, 0.558)
    ),
    rgba(116, 141, 157, 0.5);
  background-color: rgba(195, 216, 216, 0.5);
  opacity: 0.8;
  backdrop-filter: blur(3px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 8px 8px 25px rgba(0,0,0,0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content {
  margin-left: 22%;
  margin-right:6%;
  margin-top: 40px;
  padding-bottom: 40px;
  width: auto;
  align-items: center;
  position: relative;
}

.glass {
  background:
    linear-gradient(
      135deg,
      rgba(55, 180, 225, 0.5),
      rgba(77, 57, 190, 0.558)
    );
  backdrop-filter: blur(1.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 8px 8px 25px rgba(0,0,0,0.55);

}

.homePage{
  width: auto;
  align-items: center;
}

.homeCard {
  width: auto;
  position: relative;
  margin-top: 40px;

  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.hiText {
  font-family: Arial;
  color: rgba(137, 137, 137, 0.5);
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  font-size: 25px;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.myName {
  padding-left: 15px;
  font-family: Arial;
  margin: 0px;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgb(15, 32, 36);
  background: linear-gradient(
    135deg,
    #142d37,
    #3b95f0
  );
  background-clip: text;
  -webkit-background-clip : text;
  color:rgba(0, 0, 0, 0.6);
  -webkit-text-stroke: 0.5px rgb(46, 52, 89);
}

.indent {
  margin-left: 30%;
}

.title {
  margin-top: 0px;
}

.quickdesc {
  width: 60%;
  text-align: center;
}

.leftHomeCard {
  flex: 1;
  max-width: 60%;  
  justify-items: center;
}

.rightHomeCard {
  position: relative;
  min-width: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.myImage {
  position: relative;
  height: 250px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 50%;
  background: 
    linear-gradient(
      360deg,
      rgba(95, 152, 200, 0.4),
      rgba(49, 15, 58, 0.4)
    );
}

.navTitle{
  color: white;
  -webkit-text-stroke: 0.8px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.navLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 30px;
  background: 
    linear-gradient(
      135deg,
      rgba(205, 220, 232, 0.877),
      rgba(174, 223, 249, 0.558)
    ),
    rgba(244, 246, 247, 0.5);
    border-radius: 10px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  -webkit-text-stroke: 0.7px black;
}

.navLink:hover {
  transform: scale(1.25);
  box-shadow: 8px 8px 25px rgba(255, 255, 255, 1);
  background: 
    linear-gradient(
      135deg,
      rgba(102, 207, 231, 0.877),
      rgba(60, 135, 175, 0.558)
    );
}

.qualities {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  gap: 10px;
}

.qualityBox {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
}

.latestProjects {
  padding: 10px;
  position: relative;
  height: auto;
  width: auto;
  margin-top: 10px;
}

.homeProjects {

  display: grid;
  gap: 20px;
  padding: 10px;
  position: relative;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
}

.projectBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.projectImg {
  position: relative;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: left;
}

.projectTitle {
  color:white;
  margin-bottom: 0px;
  margin-top: 5px;
}

.projectDesc {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.remMar {
  margin-top: 0px;
  margin-bottom: 0px;
}

.projectLink {
  text-decoration: none;
  background-color: rgb(45, 19, 70);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  color: white;
  width: 80%;
  display: flex;
  justify-content: center;
}

.projectLink:hover {
  background-color: rgb(188, 147, 227);
  color: rgb(106, 31, 110);
  padding: 3px;
  border: 2px solid rgb(45, 19, 70);
}

.aboutMeBox {
  padding: 10px;
}

.aboutProjBox {
  padding: 10px;
  margin-top: 20px;
}

.showSlide {
  display: grid;
  place-items: center;
  width: 100%;
}

.slideBox {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 5fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  background:
    linear-gradient(
      135deg,
      rgba(226, 231, 232, 0.25),
      rgba(152, 153, 153, 0.15)
    );
}

.slidesBox {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr 5fr;
  width: 100%;
  align-items: center;
  justify-items: center;
  background:
    linear-gradient(
      135deg,
      rgba(226, 231, 232, 0.25),
      rgba(152, 153, 153, 0.15)
    );
    gap: 3%;
}

.captionBox {
  min-width: 90%;
  min-height: 20%;
  width: auto;
  height: auto;
  margin: 5px;
}

.projectDetails {
  margin-top: 10px;
  padding: 10px;
}

.caption {
  margin: 10px;
}

.wipImg {
  position: relative;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.viewbutton {
  background-color: #142d37;
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  display: flex;
  border: 1px solid rgb(24, 143, 176);
}

.visibleLink {
  color: white;
  margin: 0;
}